@page "/"

<button class="btn btn-primary" tabindex="0" @onclick="StartGame" @onkeydown="ChangeDirection">Click me</button>


@code {
    int[] cells;
    Queue<(int x, int y)> snake;
    int animationDelay = 300;

    private async Task StartGame()
    {
        await Task.Delay(animationDelay);
    }

    private void ChangeDirection()
    {

    }

}